@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  background-color: #061115;
}

.navbar {
  background-color: #162026;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo img {
  height: 50px;
  width: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #d9d7d6;
}

.box-landscape {
  position: absolute;
  top: 13%;
  left: 6%;
  padding: 20px;
  background-color: #0a1419;
  height: 300px;
  width: 700px;
  box-shadow: -15px 15px 20px #000000;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
}

.box-img2 {
  height: 300px;
  width: 300px;
}

.links {
  height: 264px;
  width: 300px;
  padding-left: 20px;
  margin-left: 60px;
  font-family: "Roboto Mono", monospace;
  color: aliceblue;
  font-size: 17px;
  font-weight: 100;
  padding-top: 30px;
  border-color: #162026;
  border-style: solid;
  border-width: 2px;
}

h4 {
  margin: 3px;
  font-weight: 300;
}

a:hover {
  color: #6791c9;
}

a {
  text-decoration: none;
  color: #d9d7d6;
}

.wrapper {
  background-color: #162026;
  position: relative;
  height: 300px;
  width: 700px;
  margin: 200px auto;
  box-shadow: -10px -10px 30px;
}
